version: '3.9'

services:
  contact.register.api:
    build:
      context: .
      dockerfile: src/ContactRegister.Api/Dockerfile
    ports:
      - '8080:80'
    depends_on:
      - sqlserver
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=contact_db;User Id=sa;Password=Password123;TrustServerCertificate=True;

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Password123
    ports:
      - '1433:1433'
    volumes:
      - sqlserverdata:/var/opt/mssql
    healthcheck:
      test:
        [
          'CMD-SHELL',
          "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P Password123 -Q 'SELECT 1'",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  sqlserverdata:
